<!DOCTYPE html>
<html>
<head>
<title>dem Spooks</title>
</head>
<body>

<h1>get spooked m8</h1>
<p>2 spooky 4 me</p>
<img src=http://i.imgur.com/LUs4sYF.gif>
<img src=https://49.media.tumblr.com/5be51dd8c2a91fc9f5b5ae7a4b270047/tumblr_nvjqkjIsQ01r55klgo1_500.gif>
<img src=http://vignette1.wikia.nocookie.net/trollpasta/images/8/86/JEff_dA_KiLla.jpeg/revision/latest?cb=20140722024431>
<img src=http://cdn.yourepeat.com/media/gif/000/832/751/5f60a5872daba402d50106c31eda90fd.gif>


</body>
</html>

<audio controls>
  <source src="Spook.mp3" type="audio/mpeg">
</audio>